<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="firstcry.com" guice-stage="DEVELOPMENT">

	<listeners>
	    <listener 
	        class-name="com.qa.freelance.firstcry.com.RetryAnalyzerListener.TestRetryAnalyzerListener" />
		<listener
			class-name="com.qa.freelance.firstcry.com.TestNGListener.TestNGListener" />
		<listener
			class-name="com.qa.freelance.firstcry.com.ExtentReportListener.ExtentReporterNG" />

	</listeners>


	<test name="Date Picker Test">
		<classes>
			<class
				name="fcom.qa.freelance.firstcry.com.TestCases.DatePickerPageTest" />
		</classes>
	</test> 
	



</suite> <!-- Suite -->
